.post {
  .img {
    height: 50vh;
    img {
      margin-inline: auto;
      aspect-ratio: 6/4;
      height: 100%;
      border-radius: 15px;
      padding: 0.5rem;
    }
  }
}

.list {
  &__wrapper {
    height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none !important;
    }
  }
}
