@use "../../scss/responsive.scss" as *;
@use "../../scss/variable.scss" as *;

.header {
  background: $light;
  position: sticky;
  top: 0;
  z-index: 5 !important;
  &__logo {
    @include logo;
  }
  // .navlink {
  //   color: $primary;
  //   transition: 0.5s ease;
  //   font-family: "allieno";
  //   &:hover {
  //     color: $active;
  //   }
  // }
}

.actions__btn {
  padding: 0 0.5rem;
  align-items: center;
  button,
  a {
    padding: 0.3rem 0.5rem !important;
    border: 2px solid transparent;
    font-size: 0.8rem;
    color: $dark !important;
    font-weight: 600 !important;
    height: fit-content;
    font-family: "inter" !important;
    border-radius: 15px;
    transition: 0.5s ease;
    @include sm {
      font-size: 1.1rem;
    }
  }
  .admin {
    background: $primary;
    color: $light !important;
    font-size: 1.2rem !important;
  }
  .logout {
    border-color: $primary;
    transition: 0.4s ease;
    &:hover {
      background: $primary;
      border-color: transparent;
      color: $light !important;
    }
  }
  .login {
    border-color: $primary;
    transition: 0.4s ease;
    &:hover {
      background: $primary;
      border-color: transparent;
      color: $light !important;
    }
  }
  .signin {
    background: $primary;
    border-color: transparent;
    color: $light !important;
    transition: 0.4s ease;
    &:hover {
      border-color: $primary;
      background: transparent;
      color: $dark !important;
    }
  }
}
.dash {
  &__header {
    background: $primary !important;
  }
}
