@use "../../scss/variable.scss" as *;
@use "../../scss/responsive.scss" as *;

.sidebar {
  &__container {
    padding: 5rem 1rem;
    background: #070712;
    color: $light;

    @include md {
    }
  }
}
.list {
  padding-block: 3rem !important;
  li {
    a {
      font-family: "Roboto" !important;
    }
  }
}
