tr {
  border-bottom: 2px solid $dark;
  padding: 1rem 0;
  td {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.7rem 0.8rem;
    font-family: sans-serif;
    // border-radius: 10px;
    // border: 2px solid orange;
    @include sm {
      font-size: 1.1rem;
    }
  }
  // &:nth-child(even) {
  //   background-color: #d6eeee;
  // }
}
