@use "../../../scss/responsive.scss" as *;
@use "../../../scss/variable.scss" as *;

.table__row {
  border-bottom: 2px solid $dark;
  padding: 1rem 0;
  td {
    font-size: 0.8rem !important;
    font-weight: 500;
    padding: 0.5rem 0.6rem;
    font-family: sans-serif;
    // border-radius: 10px;
    // border: 2px solid orange;
    @include sm {
      font-size: 1.1rem !important;
    }
  }
  // &:nth-child(even) {
  //   background-color: #d6eeee;
  // }
}

.checkbox {
  width: 25px;
  height: 25px;
  accent-color: $primary;
  cursor: pointer;
}
