@use "../../scss/variable.scss" as *;
@use "../../scss/responsive.scss" as *;

.table {
  width: 100% !important;
  &__container {
    height: 90vh !important;
    overflow: hidden !important;
  }
  &__wrapper {
    width: 100%;
    border-radius: 15px;
    // border: 2px solid #000;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #f8f8f8;
    height: 100% !important;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
  thead {
    background: $light;
    position: sticky;
    top: 0;
    z-index: 5;
    td {
      font-weight: 500;
      font-family: "roboto" !important;
      text-transform: capitalize;
      padding: 0.5rem 0.4rem;
      font-size: 1rem;
      span {
        cursor: pointer;
      }
      @include sm {
        font-size: 1.3rem;
        padding: 0.7rem 0.8rem;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 2px solid $dark;
      padding: 1rem 0;
      td {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.7rem 0.8rem;
        font-family: sans-serif;
        // border-radius: 10px;
        // border: 2px solid orange;
        @include sm {
          font-size: 1.1rem;
        }
      }
      // &:nth-child(even) {
      //   background-color: #d6eeee;
      // }
    }
  }
}

.transition {
  transition: 0.5s ease-in !important;
}
.checkbox {
  width: 25px;
  height: 25px;
  accent-color: $primary;
  cursor: pointer;
}
