@use "../../scss/variable.scss" as *;
@use "../../scss/responsive.scss" as *;

// .list {
//   &__header {
//     padding: 1rem 1.5rem !important;
//     display: grid !important;
//     grid-template-columns: repeat(5, 1fr);
//     li {
//       font-size: 1.3rem;
//       font-weight: bold;
//     }
//   }
// }
// .item__list {
//   padding: 1rem 1.5rem !important;
//   .item {
//     padding: 0.5rem 0;
//     display: grid !important;
//     grid-template-columns: repeat(5, 1fr);
//     font-size: 1.2rem;
//     border-bottom: 2px solid #f8f8f8;
//   }
// }

.table {
  width: 100% !important;
  height: auto;
  gap: 1rem;
  overflow-x: scroll;
  &__container {
    height: 90vh !important;
  }
  &__wrapper {
    width: 100%;
    border-radius: 15px;
    // border: 2px solid #000;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  thead {
    background: $light;
    td {
      font-weight: 500;
      font-family: "roboto" !important;
      text-transform: capitalize;
      padding: 0.7rem 0.8rem;
      font-size: 1rem;
      span {
        cursor: pointer;
      }
      @include sm {
        font-size: 1.3rem;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 2px solid $dark;
      padding: 1rem 0;
      td {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.7rem 0.8rem;
        font-family: sans-serif;
        // border-radius: 10px;
        // border: 2px solid orange;
        @include sm {
          font-size: 1.1rem;
        }
      }
      // &:nth-child(even) {
      //   background-color: #d6eeee;
      // }
    }
  }
}

.transition {
  transition: 0.5s ease-in !important;
}
